@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-display antialiased;
  }

  ::selection {
    background-color: #2563eb;
    color: white;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/70 dark:bg-mono-900 backdrop-blur-xl border border-mono-200/50 dark:border-mono-800;
  }

  .glass-input {
    @apply bg-white/60 dark:bg-mono-900 backdrop-blur-md border border-mono-200/50 dark:border-mono-800;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
